<footer class="footer">
  <div class="footer-content">
    <div class="logo">
      <img src="/images/black-logo.png" alt="VION CINEMA" />
    </div>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/media/movie">Movies</a>
      <a href="/media/series">TV Shows</a>
    </nav>
    <div class="socials">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-email">
      <div>info&#64;vioncinema.com</div>
    </div>
    <div class="footer-grid">
      <div class="empty-space"></div>
      <div>+38 (097) 01 01 001</div>
      <div>© Vion Cinema all rights reserved</div>
    </div>
  </div>
</footer>
