<nav class="custom-navbar">
  <div class="top-bar">
    <div class="navbar-logo">
      <img src="/images/black-logo.png" alt="Logo" />
      <h1>VION CINEMA</h1>
    </div>

    <div class="search-container">
      <div class="search-wrapper">
        <input
          type="text"
          placeholder="🔍Search..."
          [(ngModel)]="searchQuery"
          (focus)="isSearchFocused = true"
          (blur)="onSearchBlur()"
          (input)="onSearchChange()"
        />

        <a
          *ngIf="isSearchFocused"
          class="filter-icon"
          [routerLink]="['/search']"
          [queryParams]="{ query: searchQuery }"
        >
          ⚙️
        </a>


        <span *ngIf="isSearchFocused" class="clear-icon" (click)="clearSearch()">
          ❌
        </span>

        <div
          class="search-overlay"
          *ngIf="isSearchFocused"
          (click)="isSearchFocused = false"
        ></div>

        <div
          class="search-results"
          *ngIf="isSearchFocused && searchQuery.length > 2"
          (click)="$event.stopPropagation()"
        >
          <div *ngIf="searchResults.length > 0">
            <div *ngFor="let result of searchResults">
              <a
                class="search-result-item"
                [routerLink]="['/media', result.type.toLowerCase(), result.id]"
                (click)="onResultClick()"
              >
              <div class="search-result-image">
                  <img [src]="result.posterImg" alt="Image for {{ result.title }}" />
                  <span class="rating">
                    {{ result.globalRating !== null ? (result.globalRating | number: '1.1-1') : 'N/A' }} ⭐
                  </span>
                </div>

                <div class="search-result-info">
                  <h3 class="title">{{ result.title }}</h3>
                  <div *ngFor="let result of searchResults">
                    <p class="genre">{{ formatGenres(result.genres) }}</p>
                  </div>
                  <p class="description">{{ result.description }}</p>
                  <p class="countries">{{ result.countries.join(', ') }}</p>
                  <p class="release-date">{{ result.releaseDate | date: 'longDate' }}</p>
                </div>
              </a>
            </div>


          </div>
          <div *ngIf="noResultsFound && searchQuery && searchQuery.length > 2">
            No results found
          </div>
        </div>
      </div>
    </div>

    <div class="user-section">
      <ng-container *ngIf="user() as user; else authButtons">
        <div class="user-dropdown">
          <button class="user-btn">
            <img *ngIf="user.profileImg" [src]="user.profileImg" alt="Profile Image" class="user-profile-img" />
            <span *ngIf="!user.profileImg">👤</span>
            {{ user.name }}
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item disabled">{{ user.name }}</button>
            <button class="dropdown-item" routerLink="/admin" *ngIf="showAdminPanelButton()">Admin Panel</button>
            <button class="dropdown-item" routerLink="/watchlist">History</button>
            <button class="dropdown-item" routerLink="/settings">Settings</button>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
        </div>
      </ng-container>
      <ng-template #authButtons>
        <button class="login-btn" (click)="login()">Login</button>
        <span class="separator">|</span>
        <button class="login-btn" (click)="goToRegister()">Register</button>
      </ng-template>
    </div>
  </div>

  <div class="bottom-bar" [ngClass]="{ hidden: !showBottomBar }">
    <div class="navbar-links">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="nav-link" routerLink="/media/series" routerLinkActive="active">Series</a>
      <a class="nav-link" routerLink="/media/movies" routerLinkActive="active">Movies</a>
      <a class="nav-link" routerLink="/search" routerLinkActive="active">Advanced search</a>
    </div>
  </div>
</nav>
