<!--<div-->
<!--  class="slider"-->
<!--  [ngStyle]="{-->
<!--    'background-image': 'url(' + activeSlide.posterImg + ')'-->
<!--  }"-->
<!--&gt;-->
<!--  <div *ngIf="activeSlide">-->
<!--    <h2>{{ activeSlide.title }}</h2>-->
<!--    <p class="genres">{{ activeSlide.genres.join(', ') }}</p>-->
<!--    <p class="description">{{ activeSlide.year }} · {{ activeSlide.countries.join(', ') }}</p>-->
<!--    <button-->
<!--      class="watch-btn"-->
<!--      *ngIf="activeSlide.slug"-->
<!--      (click)="navigateTo(activeSlide.slug)">-->
<!--      ▶ ПЕРЕГЛЯНУТИ-->
<!--    </button>-->
<!--  </div>-->

<!--</div>-->
