// Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
@import 'variables.scss';

// Bootstrap
@import 'bootstrap/bootstrap.scss';

body {
    @include media-breakpoint-up(lg) {
        padding-left: $navbarLgWidth;
    }
}

.navbar {
    z-index: 1;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .25);

    @include media-breakpoint-up(lg) {
        width: $navbarLgWidth;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        padding: 24px 0;
        align-items: start;

        .container-fluid {
            flex-direction: column;

            .navbar-nav {
                flex-direction: column;
            }
        }
    }
}

.b-section-headline {
    padding: 40px 0 68px 0;
    margin-bottom: 40px;
    position: relative;

    &:after {
		content: '';
		background-image: url('/images/section-break-xl.png');
		background-repeat: no-repeat;
		background-position: bottom left;
		height: 106px;
    	background-size: 100% 106px;
		z-index: -1;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		pointer-events: none;
	}
}

.card {
    border: 0;
    box-shadow: 0 0 24px -8px rgba(0, 0, 0, .08);
    border-radius: 16px;
    padding: 16px;
}

.pagination {
    li {
        margin:0 4px;

        a {
            border-radius: 4px;
            box-shadow: 0 0 24px -8px rgba(0, 0, 0, .08);
        }
    }
}

.zmdi {
    font-size: 24px;
}

.e-icon-link {
    display: inline-flex;
    align-items: center;

    .zmdi {
        margin-right: 8px;
        font-size: 20px;
    }

    &--action {
        background-color: #fff;
        padding: 22px 20px;
        border-radius: 16px;
        box-shadow: 0 0 24px -8px rgba(0, 0, 0, .08);
    }
}

.btn {
    text-transform: uppercase;
}

.navbar-brand {
    margin: 8px 0;

    img {
        height: 36px;
    }

    @include media-breakpoint-up(lg) {
        margin: 0 0 12px 0;

        img {
            height: 48px;
        }
    }
}

.nav-link {
    display: flex;
    font-weight: bold;
    margin: 4px 0;

    .zmdi {
        font-size: 20px;
        margin-right: 8px;
    }

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        margin: 6px 0;

        .zmdi {
            margin-right: 0;
            margin-bottom: 4px;
        }
    }
}

.e-user {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: $red;
    border: 0;
}

// Modals
.modal-title {
    font-size: 24px;
}
.modal-footer {
    padding: 1.6rem 2.4rem
}
