<div class="history-container">
  <div class="header">
    <h1><i class="icon">📋</i> My Watchlist</h1>
    <a class="clear-button" (click)="openConfirmationModal()">Clear</a>
  </div>

  <div class="confirmation-modal-overlay" [ngClass]="{'show': isModalOpen}">
    <div class="confirmation-modal">
      <h3>Are you sure you want to clear your watchlist?</h3>
      <div class="modal-buttons">
        <button (click)="clearList()">Yes</button>
        <button (click)="closeConfirmationModal()">No</button>
      </div>
    </div>
  </div>

  <div class="message-block" *ngIf="!hasMediaItems">
    <h2>Latest watched</h2>
    <p class="subtitle">
      Transform your watchlist into a time capsule: Start watching to preserve your movie and series journey
    </p>
  </div>

  <div class="sparkles">
    <div
      *ngFor="let sparkle of sparkles"
      class="sparkle"
      [ngStyle]="{
          top: sparkle.top + 'px',
          left: sparkle.left + 'px',
          animationDelay: sparkle.delay + 's'
        }"
    ></div>
  </div>

  <div *ngIf="hasMediaItems">
    <div class="media-grid">
      <div class="media-card" *ngFor="let item of visibleItems">
        <div class="image-wrapper">
          <img [src]="item.image" alt="{{ item.title }}" />
          <div class="play-button">▶</div>
          <div class="progress-bar-container">
            <div
              class="progress-bar"
              [ngStyle]="{
                width: getProgressPercentage(item.time, item.duration) + '%'
              }"
            ></div>
          </div>
        </div>
        <div class="info">
          <div class="info-desc">
            <p>{{ item.date }}</p>
            <p>{{ item.time }}</p>
          </div>
          <h4>{{ item.title }}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="load-more-wrapper" *ngIf="visibleItems.length < mediaItems.length">
    <button (click)="loadMore()">Show more</button>
  </div>
</div>
