<div class="search-container">
  <app-sparkles></app-sparkles>

  <div class="general">
    <h2>Advanced search</h2>

    <div class="top-controls">
      <div class="left-controls">
        <app-dropdown
          label="All"
          [items]="typeOptions"
          [selectedItems]="selectedTypeOption ? [selectedTypeOption] : []"
          [isOpen]="dropdownState['type']"
          [isMultiple]="false"
          (toggleDropdown)="toggleDropdown('type')"
          (selectionChanged)="onTypeSelectionChanged($event)"
        ></app-dropdown>

<!--        <app-dropdown-->
<!--          label="✨ By Novelty"-->
<!--          [items]="noveltyOptions"-->
<!--          [selectedItems]="selectedNoveltyOption ? [selectedNoveltyOption] : []"-->
<!--          [isOpen]="dropdownState['novelty']"-->
<!--          [isMultiple]="false"-->
<!--          (toggleDropdown)="toggleDropdown('novelty')"-->
<!--          (selectionChanged)="onNoveltySelectionChanged($event)"-->
<!--        ></app-dropdown>-->
      </div>

      <div class="center-controls">
        <div class="rating-range inline">
          <label>Rating: {{ minRating }} - {{ maxRating }}</label>
          <div class="range-container">
            <div id="rangeSlider"></div>
          </div>
        </div>
      </div>
    </div>

    <hr class="divider" />

    <div class="filters-grid filters-two">
      <app-dropdown
        label="Select Genre"
        [items]="genres"
        [selectedItems]="selectedGenresList"
        [isOpen]="dropdownState['genre']"
        [isMultiple]="true"
        (toggleDropdown)="toggleDropdown('genre')"
        (selectionChanged)="onGenreSelectionChanged($event)"
      ></app-dropdown>

      <app-dropdown
        label="Select Year"
        [items]="years"
        [selectedItems]="selectedYearsList"
        [isOpen]="dropdownState['year']"
        [isMultiple]="true"
        (toggleDropdown)="toggleDropdown('year')"
        (selectionChanged)="onYearSelectionChanged($event)"
      ></app-dropdown>
    </div>

    <hr class="divider" />

    <div class="filters-grid filters-two">
      <app-dropdown
        label="Select Country"
        [items]="countries"
        [selectedItems]="selectedCountriesList"
        [isOpen]="dropdownState['country']"
        [isMultiple]="true"
        (toggleDropdown)="toggleDropdown('country')"
        (selectionChanged)="onCountrySelectionChanged($event)"
      ></app-dropdown>

      <div class="right-controls">
        <button class="button secondary" (click)="resetFilters()">Reset</button>
        <button class="button primary" (click)="applyFilters()">Apply</button>
      </div>
    </div>

    <hr class="divider" />

    <div class="cards" *ngIf="filteredShows.length > 0; else noResults">
      <a class="card-link" [routerLink]="['/media', show.type.toLowerCase(), show.id]" *ngFor="let show of filteredShows">
        <app-media-card [media]="show"></app-media-card>
      </a>
    </div>

    <ng-template #noResults>
      <div class="no-results">
        Nothing was found 😔
      </div>
    </ng-template>
  </div>
</div>
