<div class="search-container">
  <app-sparkles></app-sparkles>

  <div class="general">
    <h2>Розширений пошук</h2>

    <div class="top-controls">
      <div class="left-controls">
        <app-dropdown
          label="Всі"
          [items]="typeOptions"
          [selectedItems]="selectedTypeOption ? [selectedTypeOption] : []"
          [isOpen]="typeDropdownOpen"
          [isMultiple]="false"
          (toggleDropdown)="toggleTypeDropdown()"
          (selectionChanged)="onTypeSelectionChanged($event)"
        ></app-dropdown>

        <app-dropdown
          label="✨ За новизною"
          [items]="noveltyOptions"
          [selectedItems]="selectedNoveltyOption ? [selectedNoveltyOption] : []"
          [isOpen]="noveltyDropdownOpen"
          [isMultiple]="false"
          (toggleDropdown)="toggleNoveltyDropdown()"
          (selectionChanged)="onNoveltySelectionChanged($event)"
        ></app-dropdown>
      </div>

      <div class="center-controls">
        <div class="rating-range inline">
          <label>Рейтинг: {{ minRating }} - {{ maxRating }}</label>
          <div class="range-container">
            <div id="rangeSlider"></div>
          </div>
        </div>
      </div>
    </div>

    <hr class="divider" />

    <div class="filters-grid filters-two">
      <app-dropdown
        label="Виберіть жанр"
        [items]="genres"
        [selectedItems]="selectedGenresList"
        [isOpen]="genreDropdownOpen"
        [isMultiple]="true"
        (toggleDropdown)="toggleGenreDropdown()"
        (selectionChanged)="onGenreSelectionChanged($event)"
      ></app-dropdown>

      <app-dropdown
        label="Виберіть рік"
        [items]="years"
        [selectedItems]="selectedYearsList"
        [isOpen]="yearDropdownOpen"
        [isMultiple]="true"
        (toggleDropdown)="toggleYearDropdown()"
        (selectionChanged)="onYearSelectionChanged($event)"
      ></app-dropdown>
    </div>

    <hr class="divider" />

    <div class="filters-grid filters-two">
      <app-dropdown
        label="Виберіть країну"
        [items]="countries"
        [selectedItems]="selectedCountriesList"
        [isOpen]="countryDropdownOpen"
        [isMultiple]="true"
        (toggleDropdown)="toggleCountryDropdown()"
        (selectionChanged)="onCountrySelectionChanged($event)"
      ></app-dropdown>

      <div class="right-controls">
        <button class="button secondary" (click)="resetFilters()">Скинути</button>
        <button class="button primary" (click)="applyFilters()">Застосувати</button>
      </div>
    </div>

    <div class="cards">
      <a class="card-link" [routerLink]="['/search', show.title]" *ngFor="let show of shows">
        <app-media-card [media]="show"></app-media-card>
      </a>
    </div>
  </div>
</div>
